spring:
  application:
    name: lego-vente-api
  
  datasource:
    url: jdbc:postgresql://localhost:5433/legoventeapi
    username: postgres
    password: root              
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect